*{
  box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 15px;
    background-color: #f4f4f4;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    background: conic-gradient(hsl(0, 100%, 50%),hsl(240, 100%, 50%),hsl(147, 100%, 47%));

  }

  .border{
    background-color: #f4f4f4;
    border: black solid 2px;
    border-radius: 5px;
    padding: 20px;
  }

  .form-control,
  .btn {
    padding: 10px;
    border-style: solid;
  }

  .gameform span {
    display: block;
    margin-top: 5px;
  }

  .mic-btn{
    margin: 10px 0;
  }